* {
    box-sizing: border-box;
}

.bg-color{
    background-color: rgb(64 81 225);
}

.container-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-card{
    border: solid 4px blue;
    text-align: center;
    position: relative;
}

.title{
    font-size: 4em;
    font-family: "Paytone One";
    color: white;
    margin: 0 100px 0 100px;
}

.estrella{
    height: 80px;
}

#star-left{
    transform: rotate(-5deg);
}

#star-right{
    transform: rotate(5deg);
}

p{
    font-size: 1.8em;
    color: white;
    font-family: sans-serif;
    text-align:center;
}

#img-avatar{
    position: relative;
    height: 150px;
    z-index: 1;
}

#img-rostro{
    position: absolute;
    width: 90px;
    right: calc(50% - 45px);
    top: 49px;
    z-index: 1;
}

.card{
    background-color: white;
    position: absolute;
    width: 400px; 
    right: calc(50% - 200px);
    border-radius: 20px;
    font-size: 1.5em;
    color: rgb(90 90 90);
    font-family: "Comfortaa";
    line-height: 35px;
    padding: 20px 0;
    top: 140px;
}

/*Botones*/
.form-control{
    border: solid 3px red;
    text-align: right;
    height: 180px;
    padding-top: 120px;

}

.form-control button{
    width: 120px;
    height: 50px;
    bottom: 0;
}

#btnVolverJugar{
    border: none;
    background-color: rgb(64, 156, 241);
}

#btnIrCategorias{
    border:none;
    background-color: rgb(28, 182, 49);

}